.max {
  @apply pb-24 pt-10 lg:grid lg:grid-cols-3 sm:p-32 lg:gap-x-0 xl:gap-x-8 lg:pt-24 xl:pt-24 lg:pb-52;
}

.div {
  @apply col-span-2 px-6 lg:px-0 lg:pt-4;
}

.wrapper {
  @apply relative mx-auto text-center lg:text-left  flex flex-col items-center lg:items-start;

  &__inner {
    @apply absolute w-28 left-0 -top-20
    hidden lg:block;
  }
  &__h1 {
    @apply relative w-fit tracking-tight text-balance
   mt-16 font-bold !leading-tight text-gray-900 text-5xl
   md:text-6xl lg:text-7xl;
  }
  &__p {
    @apply mt-8 text-lg lg:pr-10 max-w-prose text-center lg:text-left text-balance md:text-wrap;
  }

  &__ul {
    @apply mt-8 space-y-2 text-left font-medium flex flex-col items-center sm:items-start;
  }
  &__li {
    @apply flex gap-1.5 items-center text-left;
  }
  &__user {
    @apply mt-12 flex flex-col sm:flex-row items-center sm:items-start gap-5;
  }
  &__userimg {
    @apply inline-block h-10 w-10 rounded-full ring-2 ring-zinc-100;
  }
  &__star {
    @apply flex flex-col  justify-between items-center
    sm:items-start;
  }
  &__phone {
    @apply col-span-full lg:col-span-1 w-full flex justify-center px-8 sm:px-16 md:px-0 mt-32 lg:mx-0 lg:mt-20 h-fit;
  }
  &__phoneimg {
    @apply absolute w-40 lg:w-52 left-56 select-none hidden sm:block lg:hidden xl:block;
  }
}

.value {
  @apply flex flex-col lg:flex-row items-center gap-4      
  sm:gap-6;
  &__h2 {
    @apply order-1 mt-2 tracking-tight text-center text-balance   
     !leading-tight font-bold text-5xl md:text-6xl text-gray-900;
  }
}

.test {
  @apply mx-auto grid max-w-2xl grid-cols-1 px-4 lg:mx-0
  lg:max-w-none lg:grid-cols-2 gap-y-16;
  &__star {
    @apply flex flex-auto flex-col gap-4 lg:pr-8 xl:pr-20;
  }
}
